# =====================
# AMBIENTES E CACHES
# =====================
.venv/
.venv_local/
.venv_local_test/
env/
venv/
__pycache__/
*.pyc

# =====================
# DADOS 
# =====================
data/
data/**/*
data/*

# =====================
# ARTEFATOS GRANDES
# =====================
artifacts/
*.joblib
*.pkl
*.h5
*.bin
*.npz

# CSVs grandes 
data/**/*.csv

# =====================
# IDEs | SISTEMA | INFO LOCAL
# =====================
.vscode/
.idea/
.DS_Store
