pandas
numpy
scikit-learn
matplotlib
seaborn

# web scraping
requests
beautifulsoup4
lxml
html5lib
feedparser

# parquet
pyarrow

# NLP
spacy
transformers

# ML utils
joblib

# geodados
geopandas
shapely
pyproj
fiona
rtree

# dashboard
streamlit

# misc utils
tqdm
certifi
